.blog-post-comments 
  margin-top 2rem
  &.v 
    .power 
      display none
    a 
      &:hover 
        color #1abc9c
    * 
      color #c9cacc
    .vwrap 
      background #2a2c2f
      border none
      .vheader 
        .vinput 
          border-bottom 1px #dedede double
    .vempty 
      pre 
        color #555
    .vlist 
      .vcard 
        .vquote 
          border-left 1px dashed #2a2c2f
        .vh 
          border-bottom 1px dashed #2a2c2f
        .vhead 
          .vsys 
            background 0 0
.blog-post-comments.v .vlist .vcard .vh .vmeta .vat,.blog-post-comments.v .vlist .vcard .vhead .vnick:hover 
  color #1abc9c

.blog-post-comments.v .vbtn
  border: 1px solid #2bbc8a
  background: #2bbc8a

.blog-post-comments.v .vbtn:active, .blog-post-comments.v .vbtn:hover
  color: #313131
  border-color: #d480aa
  background-color: #d480aa