<div class="<%= class_name %>">
    <i class="fas fa-eye"></i>
    <span id="<%- url_for(post.path) %>" class="leancloud-visitors" data-flag-title="<%= post.title %>" style="display: inline;">
        <span id="leancloud-visitors-count">1</span>
    </span>
</div>